extends layout

block content
  .container
    .row.col-md-offset-3.col-md-6
      h1.text-center= title
      br
      .well
        body
          h4.p <strong>Voting Url:</strong> #[a(href="#{voteUrl}") #{voteUrl}]
          h4.p <strong>View results at:</strong> #[a(href="#{resultsUrl}") #{resultsUrl}]
