extends layout

block content
  .container
    .row.col-md-offset-3.col-md-6
      h1= pollQuestion
        .well#vote
          body
            form(action="/results", method="post")
              ul
                each val in choices
                  h4.li= val
                  button(type="submit", name="#{id}" value="#{val}").btn.btn-primary #{val}
                  // a(name="#{val}").btn.btn-primary #{val}
                  // input(type="radio", name="#{id}", value="#{val}")
              // input(type="submit", value="#{id}").btn.btn-primary
